// Main Colors
$primary-color: #11572B;
$secondary-color: #72747F;
$color-white: #FFFFFF;

// Button Colors
$main-button:$primary-color;
$secondary-button:$color-white;

//Text Colors
$page-header: #47474A;
